*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* color: hsl(0, 0%, 100%); */
    font-family: 'Ubuntu', sans-serif;
}
.dropdowntoggle{
    transition: .5s;
    opacity: 1 !important;
    transform:translateY(0%) !important;

}

body{
    width: 100vw;
    overflow-x: hidden;
}